body.issue-entity-properties {
   background-color: white;

   .editor {
      height: 150px;
   }

   .property {
      margin-bottom: 10px;
      position: relative;
   }

   .delete-button {
      position: absolute;
      right: 0px;
   }
}
